<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>     
    <li>List Some of the commonly used libraries used by Data Scientists include</li>     
    <li>List some Data Science Tools</li>   
    
</ul>

Some of the popular languages that Data Scientists use are:
    <ol>
    <li>Python</li>
    <li>R</li>
    <li>C++</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
    <li>Tensorflow</li>
    <li>matplotlib</li>
    <li>scikit-learn</li>
    </ol>

<table style="float:left;">
<tr><th>Data Science Tools</th></tr>
<tr><td>Jupyter Lab</td></tr>
<tr><td>Google Colab</td></tr>
<tr><td>R studio</td></tr>
<tr><td>MySQL</td></tr>
<tr><td>Apache Spark</td></tr>
<tr><td>KNIME</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python:</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
a = 200
x = a//60
y = a-x*60
str(a) + " minues has "+str(x)+" hours and "+str(y)+" minutes"

'200 minues has 3 hours and 20 minutes'

<h2>Author</h2>
Sif Eddine BELALIA